@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
 --jf-bg-color-primary: #2D28FF;
 --jf-bg-color-secondary: #FFFFFF;
 --jf-bg-color-tertiary: #C7C7C7;

 --jf-font-color-primary: #FFFFFF;
 --jf-font-color-secondary: #000000;
}

body {
  background-color: var(--jf-bg-color-secondary);
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
}

a, a:hover {
  text-decoration: none;
}

.jf-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.jf-active {
    font-weight: 700;
}

.jf-disable {
  font-size: 16px;
}